<link rel='stylesheet' type='text/css' href='stylesheets/hilocss.css'/>

<h1>Hi-Lo Game</h1>
<div id="guess">
  Guess: <%= @guess %>
</div>
<br>
<div id="result">
  <%= @result %>
</div>
<div id="winnerbox">
  <div id="winningresult">
    <%= @winningResult %>
  </div>
</div>
<%= @answer %>
